{% extends "base.html" %}

{% block title %}
  <title>All Books</title>
{% endblock title %}

{% block navbar %}
  {% include "book_app/includes/navbar.html" %}
{% endblock navbar %}

{% block book-list %}
  <section class="container-fluid">
    <div class="heading_container heading_center mt-5">
      <h2>
        All {{ category.title }} Books
      </h2>
    </div>
    <div id="wrapper">
      <div id="flexContainer">
      {% for book in books_by_category %}           
          <div class="flexItems">
            <div class="bookImage"><img src="{{ book.book_image.url }}" alt=""></div>
            <div class="description">
              <h3 class="book-title-h3"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
              <h3 class="book-author-h3"><a href="{% url 'author-page' book.author.first_name book.author.last_name book.author.id %}">{{ book.author }}</a></h3>
              <div class="d-flex justify-content-between align-items-baseline">
                <div class="d-flex justify-content-between align-items-baseline group-rating">
                  <h6 class="d-flex mt-3 p-0 star-rating">
                    {% if book.rating == 1 %}     
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif book.rating == 2 %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif book.rating == 3 %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    {% elif book.rating == 4 %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    {% else %}
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    {% endif %}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>

    
{% endblock book-list %}
  
{% block footer %}
{% if books_by_category %}
{% include "book_app/includes/footer.html" %}
{% endif %}
{% endblock footer %}