{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Home</title>
{% endblock title %}

{% block banner %}
  {% include "book_app/includes/header.html" %}
{% endblock banner %}

{% block category %}
  {% include "book_app/includes/category.html" %}
{% endblock category %}

{% block book-list %}
  {% include "book_app/includes/new_books.html" %}
{% endblock book-list %}

{% block client %}
  
<!-- client section -->

<section class="client_section layout_padding">
  <div class="container ">
    <div class="heading_container heading_center">
      <h2>
        What Says Customers
      </h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="{% static 'images/c1.jpg' %}" alt="">
            </div>
            <div class="client_name">
              <h5>
                Jone Mark
              </h5>
              <h6>
                Student
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="{% static 'images/c2.jpg' %}" alt="">
            </div>
            <div class="client_name">
              <h5>
                Anna Crowe
              </h5>
              <h6>
                Student
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
            </p>
            <span>
              <i class="fa fa-quote-left" aria-hidden="true"></i>
            </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="{% static 'images/c3.jpg' %}" alt="">
            </div>
            <div class="client_name">
              <h5>
                Hilley James
              </h5>
              <h6>
                Student
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->
{% endblock client %}

{% block footer %}
  {% include "book_app/includes/footer.html" %}
{% endblock footer %}

